<div class="h-100">
  <figure class="p-3">
    <img src="../../assets/images/ads.png" class="img-fluid" alt="Ad">
  </figure>

  <!-- tabs -->
  <!-- <ul class="nav nav-pills mb-3 ps-3" id="pills-tab" role="tablist">
      <li class="nav-item" role="presentation">
        <button class="nav-link active" id="pills-all" data-bs-toggle="pill" data-bs-target="#pills-all" type="button" role="tab" aria-controls="pills-all" aria-selected="true">All</button>
      </li>
      <li class="nav-item" role="presentation">
        <button class="nav-link" id="pills-brands" data-bs-toggle="pill" data-bs-target="#pills-brands" type="button" role="tab" aria-controls="pills-brands" aria-selected="false">Food Brands</button>
      </li>
      <li class="nav-item" role="presentation">
        <button class="nav-link" id="pills-science" data-bs-toggle="pill" data-bs-target="#pills-science" type="button" role="tab" aria-controls="pills-science" aria-selected="false">Fun Science</button>
      </li>
      <li class="nav-item" role="presentation">
        <button class="nav-link" id="pills-more" data-bs-toggle="pill" data-bs-target="#pills-more" type="button" role="tab" aria-controls="pills-more" aria-selected="false">ore</button>
      </li>
    </ul>
    <div class="tab-content" id="pills-tabContent">
      <div class="tab-pane fade show active" id="pills-all" role="tabpanel" aria-labelledby="pills-all" tabindex="0">.dfdf</div>
      <div class="tab-pane fade" id="pills-brands" role="tabpanel" aria-labelledby="pills-brands" tabindex="0">fgfgfg.</div>
      <div class="tab-pane fade" id="pills-science" role="tabpanel" aria-labelledby="pills-science" tabindex="0">.fgfdb.</div>
      <div class="tab-pane fade" id="pills-more" role="tabpanel" aria-labelledby="pills-more" tabindex="0">.fbgfnfg</div>
    </div> -->
  <ul class="nav nav-pills mb-3 ps-3" id="pills-tab" role="tablist">
    <li class="nav-item" role="presentation">
      <button class="nav-link active" id="pills-all-tab" data-bs-toggle="pill"
        data-bs-target="#pills-all" type="button" role="tab"
        aria-controls="pills-all" aria-selected="true">All</button>
    </li>
    <li class="nav-item" role="presentation">
      <button class="nav-link" id="pills-brands-tab" data-bs-toggle="pill"
        data-bs-target="#pills-brands" type="button" role="tab"
        aria-controls="pills-brands" aria-selected="false">Food Brands</button>
    </li>
    <li class="nav-item" role="presentation">
      <button class="nav-link" id="pills-science-tab" data-bs-toggle="pill"
        data-bs-target="#pills-science" type="button" role="tab"
        aria-controls="pills-science" aria-selected="false">Fun Science</button>
    </li>
    <li class="nav-item" role="presentation">
      <button class="nav-link" id="pills-more-tab" data-bs-toggle="pill"
        data-bs-target="#pills-more" type="button" role="tab"
        aria-controls="pills-more" aria-selected="false">More</button>
    </li>
  </ul>
  <div class="tab-content" id="pills-tabContent">
    <div class="tab-pane fade show active" id="pills-all" role="tabpanel"
      aria-labelledby="pills-all-tab" tabindex="0">
      <!-- Quiz Tiles List -->
      <ul class="list-group px-3">
        <li class="list-group-item">
          <figure class="mb-0 me-2">
            <img src="../../assets/icon/categories/bollywood.png"
              class="list-img img-fluid" alt="category">
          </figure>
          <div class="flex-grow-1">
            <p class="category-title mb-1">Bollywood</p>
            <p class="category-desc mb-1">Play & Win Coins <span class="icon
                icon-coins"></span> 10,000</p>
                <p class="category-title mb-1">Entry Fee <span class="icon
                  icon-coins"></span> 10,000</p>
          </div>
          <figure class="mb-0">
            <img src="../../assets/icon/categories/bollywood.png"
              class="list-img img-fluid" alt="category">
          </figure>
        </li>
        <li class="list-group-item">
          <figure class="mb-0 me-2">
            <img src="../../assets/icon/categories/bollywood.png"
              class="list-img img-fluid" alt="category">
          </figure>
          <div class="flex-grow-1">
            <p class="category-title mb-1">Bollywood</p>
            <p class="category-desc mb-1">Play & Win Coins <span class="icon
                icon-coins"></span> 10,000</p>
                <p class="category-title mb-1">Entry Fee <span class="icon
                  icon-coins"></span> 10,000</p>
          </div>
          <figure class="mb-0">
            <img src="../../assets/icon/categories/bollywood.png"
              class="list-img img-fluid" alt="category">
          </figure>
        </li>
        <li class="list-group-item">
          <figure class="mb-0 me-2">
            <img src="../../assets/icon/categories/bollywood.png"
              class="list-img img-fluid" alt="category">
          </figure>
          <div class="flex-grow-1">
            <p class="category-title mb-1">Bollywood</p>
            <p class="category-desc mb-1">Play & Win Coins <span class="icon
                icon-coins"></span> 10,000</p>
                <p class="category-title mb-1">Entry Fee <span class="icon
                  icon-coins"></span> 10,000</p>
          </div>
          <figure class="mb-0">
            <img src="../../assets/icon/categories/bollywood.png"
              class="list-img img-fluid" alt="category">
          </figure>
        </li>
        <li class="list-group-item">
          <figure class="mb-0 me-2">
            <img src="../../assets/icon/categories/bollywood.png"
              class="list-img img-fluid" alt="category">
          </figure>
          <div class="flex-grow-1">
            <p class="category-title mb-1">Bollywood</p>
            <p class="category-desc mb-1">Play & Win Coins <span class="icon
                icon-coins"></span> 10,000</p>
                <p class="category-title mb-1">Entry Fee <span class="icon
                  icon-coins"></span> 10,000</p>
          </div>
          <figure class="mb-0">
            <img src="../../assets/icon/categories/bollywood.png"
              class="list-img img-fluid" alt="category">
          </figure>
        </li>
        <li class="list-group-item">
          <figure class="mb-0 me-2">
            <img src="../../assets/icon/categories/bollywood.png"
              class="list-img img-fluid" alt="category">
          </figure>
          <div class="flex-grow-1">
            <p class="category-title mb-1">Bollywood</p>
            <p class="category-desc mb-1">Play & Win Coins <span class="icon
                icon-coins"></span> 10,000</p>
                <p class="category-title mb-1">Entry Fee <span class="icon
                  icon-coins"></span> 10,000</p>
          </div>
          <figure class="mb-0">
            <img src="../../assets/icon/categories/bollywood.png"
              class="list-img img-fluid" alt="category">
          </figure>
        </li>
        <li class="list-group-item">
          <figure class="mb-0 me-2">
            <img src="../../assets/icon/categories/bollywood.png"
              class="list-img img-fluid" alt="category">
          </figure>
          <div class="flex-grow-1">
            <p class="category-title mb-1">Bollywood</p>
            <p class="category-desc mb-1">Play & Win Coins <span class="icon
                icon-coins"></span> 10,000</p>
                <p class="category-title mb-1">Entry Fee <span class="icon
                  icon-coins"></span> 10,000</p>
          </div>
          <figure class="mb-0">
            <img src="../../assets/icon/categories/bollywood.png"
              class="list-img img-fluid" alt="category">
          </figure>
        </li>
        <li class="list-group-item">
          <figure class="mb-0 me-2">
            <img src="../../assets/icon/categories/bollywood.png"
              class="list-img img-fluid" alt="category">
          </figure>
          <div class="flex-grow-1">
            <p class="category-title mb-1">Bollywood</p>
            <p class="category-desc mb-1">Play & Win Coins <span class="icon
                icon-coins"></span> 10,000</p>
                <p class="category-title mb-1">Entry Fee <span class="icon
                  icon-coins"></span> 10,000</p>
          </div>
          <figure class="mb-0">
            <img src="../../assets/icon/categories/bollywood.png"
              class="list-img img-fluid" alt="category">
          </figure>
        </li>
      </ul>
      <!-- End: Quiz Tiles List -->
    </div>
    <div class="tab-pane fade" id="pills-brands" role="tabpanel"
      aria-labelledby="pills-brands-tab" tabindex="0">fbgfbfd</div>
    <div class="tab-pane fade" id="pills-science" role="tabpanel"
      aria-labelledby="pills-science-tab" tabindex="0">sdfcsdf</div>
    <div class="tab-pane fade" id="pills-more" role="tabpanel"
      aria-labelledby="pills-more-tab" tabindex="0">bgfbf</div>
  </div>
</div>