$primary: #5a55ca;
$secondary: #f26950;
$gray: #afb5c0;
// Used for highlighted items
$accent: #2bc09c;
// General Colors
$white: #ffffff;
$black: #000000;
$text-color-primary: #051745;
$warning: #ffab58;
$danger: #db3944;
$theme-colors: (
    "primary": $primary,
    "secondary": $secondary,
    "accent": $accent,
    "gray": $gray,
    "warning": $warning,
);


// Tabs
$nav-link-color: $white;
$list-group-bg: #393f70;
$list-group-color: $white;