$font-size-base: 1rem;
// Tab height
$tab-height: 70px;
$modal-topbar-height: 70px;
$border-radius: 10px;
$datepicker-modal-width: 290px;
$datepicker-width: 350px;
$datepicker-height: 308px;

// Tabs
$nav-pills-border-radius: 50rem;
$nav-link-font-size: 14px;
$nav-link-padding-y: 0.4rem;

// List
$list-group-item-padding-y: 0.5rem;
$list-group-item-padding-x: $list-group-item-padding-y;
$list-group-border-radius: 8px;