.list-group-item {
    display: flex;
    align-items: center;
    margin-bottom: 1rem;
    border-radius: 8px;

    .list-img {
        width: 56px;
        height: 56px;
        border-radius: 8px;
    }

    .category {
        &-title {
            line-height: 14px;
            font-size: 13px;
            color: rgba($color: $white, $alpha: 0.6);
        }

        &-desc {
            line-height: 15px;
            font-size: 15px;
        }
    }
}