ion-tab-bar {
    height: 64px;
    padding: 0.5rem;
}

ion-tab-button {
    border-radius: 0.5rem;
    --ripple-effect-opacity: 0;
    --ripple-color: none;
    --background-focused-opacity: 0;

    .icon {
        font-size: 1rem;
        margin-bottom: 0.4rem;
    }

    &.tab-selected {
        background-color: #262853;

        ion-label {
            color: $white;
        }
    }
}

.nav-pills {
    overflow-x: auto;
    flex-wrap: nowrap;
    padding-bottom: 0.5rem;
    .nav-item {
        // &:not(:last-child) {
            margin-right: 0.5rem;
        // }
    }
    .nav-link {
        white-space: nowrap;
        background: rgba($color: #393f70, $alpha: 1.0);
        &.active {
            background: linear-gradient(90deg, rgba(238, 78, 160, 1) 0%, rgba(207, 98, 224, 1) 100%);
        }
    }
}