<ion-tabs>

  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="tab1">
      <span class="icon icon-category"></span>
      <ion-label>Category</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="tab2">
      <span class="icon icon-home"></span>
      <ion-label>Home</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="tab3">
      <span class="icon icon-profile"></span>
      <ion-label>Profile</ion-label>
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>
