@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?5as5r9');
  src:  url('fonts/icomoon.eot?5as5r9#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?5as5r9') format('truetype'),
    url('fonts/icomoon.woff?5as5r9') format('woff'),
    url('fonts/icomoon.svg?5as5r9#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-coins:before {
  content: "\e906";
  color: #ffc434;
}
.icon-flip:before {
  content: "\e907";
  color: #262755;
}
.icon-freeze:before {
  content: "\e908";
  color: #262755;
}
.icon-gift .path1:before {
  content: "\e909";
  color: rgb(243, 74, 161);
}
.icon-gift .path2:before {
  content: "\e90a";
  margin-left: -1em;
  color: rgb(255, 181, 67);
}
.icon-gift .path3:before {
  content: "\e90b";
  margin-left: -1em;
  color: rgb(255, 151, 67);
}
.icon-gift .path4:before {
  content: "\e90c";
  margin-left: -1em;
  color: rgb(255, 181, 67);
}
.icon-gift .path5:before {
  content: "\e90d";
  margin-left: -1em;
  color: rgb(255, 151, 67);
}
.icon-gift .path6:before {
  content: "\e90e";
  margin-left: -1em;
  color: rgb(199, 33, 119);
}
.icon-gift .path7:before {
  content: "\e90f";
  margin-left: -1em;
  color: rgb(255, 219, 92);
}
.icon-gift .path8:before {
  content: "\e910";
  margin-left: -1em;
  color: rgb(255, 181, 67);
}
.icon-google:before {
  content: "\e911";
  color: #fff;
}
.icon-logo .path1:before {
  content: "\e912";
  color: rgb(38, 39, 85);
}
.icon-logo .path2:before {
  content: "\e913";
  margin-left: -1em;
  color: rgb(245, 245, 247);
}
.icon-logo .path3:before {
  content: "\e914";
  margin-left: -1em;
  color: rgb(231, 233, 248);
}
.icon-logo .path4:before {
  content: "\e915";
  margin-left: -1em;
  color: rgb(53, 56, 103);
}
.icon-logo-icon .path1:before {
  content: "\e916";
  color: rgb(38, 39, 85);
}
.icon-logo-icon .path2:before {
  content: "\e917";
  margin-left: -1em;
  color: rgb(245, 245, 247);
}
.icon-logo-icon .path3:before {
  content: "\e918";
  margin-left: -1em;
  color: rgb(53, 56, 103);
}
.icon-search:before {
  content: "\e919";
  color: #fff;
}
.icon-win .path1:before {
  content: "\e91a";
  color: rgb(17, 158, 255);
}
.icon-win .path2:before {
  content: "\e91b";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}
.icon-win .path3:before {
  content: "\e91c";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}
.icon-win .path4:before {
  content: "\e91d";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}
.icon-win .path5:before {
  content: "\e91e";
  margin-left: -1em;
  color: rgb(17, 158, 255);
}
.icon-win .path6:before {
  content: "\e91f";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}
.icon-win .path7:before {
  content: "\e920";
  margin-left: -1em;
  color: rgb(17, 158, 255);
}
.icon-win .path8:before {
  content: "\e921";
  margin-left: -1em;
  color: rgb(17, 158, 255);
}
.icon-win .path9:before {
  content: "\e922";
  margin-left: -1em;
  color: rgb(255, 193, 44);
}
.icon-win .path10:before {
  content: "\e923";
  margin-left: -1em;
  color: rgb(255, 193, 44);
}
.icon-win .path11:before {
  content: "\e924";
  margin-left: -1em;
  color: rgb(255, 193, 44);
}
.icon-win .path12:before {
  content: "\e925";
  margin-left: -1em;
  color: rgb(255, 236, 195);
}
.icon-50:before {
  content: "\e926";
  color: #262755;
}
.icon-audience:before {
  content: "\e927";
  color: #262755;
}
.icon-back:before {
  content: "\e928";
}
.icon-category:before {
  content: "\e900";
  color: #c3c6dc;
}
.icon-category-active:before {
  content: "\e901";
  color: #fff;
}
.icon-home:before {
  content: "\e902";
  color: #c3c6dc;
}
.icon-home-active:before {
  content: "\e903";
  color: #fff;
}
.icon-profile:before {
  content: "\e904";
  color: #c3c6dc;
}
.icon-profile-active:before {
  content: "\e905";
  color: #fff;
}
